/* Importação de fonts */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); /* Font Alfa Slab One*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); /* Font */

/* Resetando configurações padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', serif;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    background-image: url(../imagens/BACKGROUND\ INICIAL.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1080px;
    width: 100%;
}

/* Cabeçalho de navegação do menu principal */
header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo no cabeçalho */
header img {
    position: relative;
    left: 40px;
    top: 10px;
    width: 150px;
    height: 100px;

}

/* Menu de naveção do cabeçalho */
#container-navegation {
    display: flex;
    font-size: 20px;
    gap: 40px;
    margin-right: 10px;
}

/* Links da navegação do header */
#container-navegation a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    transition: 0.8s;
}

#container-navegation a:hover {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Conteúdo principal */
#container-movie {
    margin-top: 350px;
    margin-left: 40px;
    width: 660px;
    height: 240px;
}

/* Containe do título do filme */
#container-movie h1 {
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 1px;
    color: #FAFF01;
    font-family: 'Alfa Slab One', serif;
}

/* Container da descrição do filme */
#container-movie #box-description {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
    font-family: 'Alfa Slab One', serif;
}

/* container do genero do filme */
#box-aboutmovie {
    font-size: 40px;
    color: white;
    font-family: 'Anton', serif;
}

/* Container dos botões trailer e assistir */
#box-watchmovie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 660px;
    height: 90px;
}

#box-watchmovie a {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

/* Botão de assisti */
#box-watchmovie #btn-movie {
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    background-color: #4371E6;
}

#box-watchmovie #btn-movie:hover {
    background-color:#044bfd;
}

/* Botão do trailer */
#box-watchmovie #btn-trailer {
    width: 200px;
    height: 60px;
    padding: 10px;
    border: 1px solid #4371E6;
}

#box-watchmovie #btn-trailer:hover {
    background-color:#044bfd;
}

/* Sessão sobre o personagem */
#box-jason {
    background-image: url(../imagens/BACKGROUND\ 02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
}

/* Título da sessão sobre personagem */
#box-jason #box-titlesection {
    position: relative;
    left: 30px;
    top: 10px;
    width: 600px;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    font-family: 'Alfa Slab One', serif;

}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason {
    width: 1192px;
    height: 304px;
    margin-top: 350px;
    margin-left: 30px;
    background-color: #1c1d1e;
    border-radius: 20px;
    padding: 20px;
}

/* Título do box sobre o Jason */
#box-jason #box-descriptionjason #box-paragraphjason {
    color: #faff01;
    font-size: 40px;
    text-transform: capitalize;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason p {
    font-size: 30px;
    color: #ffffff;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    position: relative;
    top: -499px;
    left: 826px;
    width: 1022px;
    height: 937px;
    z-index: 1;
}

/* Sessão de filmes do Jason */
#box-movie {
    background-image: url(../imagens/BACKGROUND\ 03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
}

/* Container sobre os filmes */
#box-movie #container-movies {
    position: relative;
    width: 1508px;
    height: 791px;
    margin: 0 auto;
    top: 150px;
}

/* Titulo do filme */
#container-movies #box-titlemovie {
    letter-spacing: 1px;
    font-size: 40px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Alfa Slab One', serif;
}

/* Imagem principal do filme */
#container-movies #figure-movie{
    width: 417px;
    height: 600px;
}

/* Box da descrição sobre o filme  */
#container-movies #box-paragraphmovie {
    display: inline-block;
    position: relative;
    top: -180px;
    left: 20px;
    width: 1000px;
    height: 330px;
    padding: 10px 15px;
}

/* paragrafo da descrição do filme */
#container-movies #box-paragraphmovie p {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Anton', serif;
}

/* Titulos do box das imagens do filme */
#container-movies #box-paragraphmovie h2 {
    color: #ffffff;
    margin-top: 40px;
    border-bottom: 4px solid black;
    letter-spacing: 4px;
    width: 10%;
    font-size: 30px;
    font-family: 'Anton', serif;
}

#container-movies #box-movie2 {
    display: inline-block;
    margin: -100px 0 0 455px;
    width: 930px;
    height: 220px;
}

#container-movies #box-movie2 img {
    width: 300px;
    height: 200px;
    cursor: pointer;
}

#container-movies #box-movie2 img:hover {
    border: 1px solid white;
}

/* Rodape do site */
#box-footer {
    background-color: #343434;
    width: 100%;
    height: 220px;
}

#box-footer #box-footer-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box-footer #box-footer-itens h3 {
    margin-top: 40px;
    color: white;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 1px 2px 10px black;
}

#box-footer #box-footer-itens #box-social {
    margin-top: 20px;
}

#box-footer #box-footer-itens #box-social a img {
    width: 50px;
    height: 50px;
    transition: 1s;
}

#box-footer #box-footer-itens #box-social a img:hover {
    transform: translateY(-10px);
    transition: 2s;
}

/* Resposivo do site */
/* Telas de 1680px */
@media screen and (max-width:1680px) {
/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason {
    width: 1115px;
    height: 280px;
    background-color: #1c1d1e;
}
/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason p {
    font-size: 25px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    width: 770px;
    top: -470px;
}
}

/* Telas de 1440px */
@media screen and (max-width: 1440px) {
/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason {
    width: 700px;
    height: 250px;
    background-color: #1c1d1e;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason p {
    font-size: 22px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    top: -477px;
    left: 331px;
    width: 1026px;
    height: 930px;
}   

/* Container sobre os filmes */
#box-movie #container-movies {
    width: 1405px;
    height: 791px;
}

#box-movie #box-titlemovie {
    margin-left: 20px;
}

/* Imagem principal do filme */
#container-movies #figure-movie {
    margin-left: 20px;
}

/* Box da descrição sobre o filme  */
#container-movies #box-paragraphmovie {
    top: -120px;
    width: 900px;
    height: 380px;
}

/* paragrafo da descrição do filme */
#container-movies #box-paragraphmovie p {
    font-size: 30px;
}

#container-movies #box-movie2 {
    margin-left: 475px;
}
}

/* Telas de 1024px */
@media screen and (max-width: 1024px) {
/* Menu de naveção do cabeçalho */
#container-navegation {
    margin-right: 10px;

}

/* Conteúdo principal */
#container-movie {
    margin-top: 280px;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason {
    margin-top: 250px;
    width: 470px;
    height: 420px;
    background-color: #1c1d1e;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason p {
    font-size: 25px;
    margin-top: 10px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    width: 780px;
    height: 700px;
    top: -325px;
    left: 170px;
}

/* Container sobre os filmes */
#box-movie #container-movies {
    width: 1000px;
    height: 850px;
}

/* Box da descrição sobre o filme  */
#container-movies #box-paragraphmovie {
    top: -50px;
    width: 540px;
    height: 415px;
}

/* paragrafo da descrição do filme */
#container-movies #box-paragraphmovie p {
    font-size: 25px;
}

/* container das imagens dos filmes */
#container-movies #box-movie2 {
    margin: -20px 0 0 475px;
    width: 525px;
    height: 150px;
}

#container-movies #box-movie2 img {
    width: 170px;
    height: 140px;
}
}

/* Telas de 834px */
@media screen and (max-width: 834px) {
/* background do conteundo principal */
main {
    background-position-x: -300px;
}

/* Cabeçalho de navegação do menu principal */
header {
    justify-content: space-between;
}

/* Logo no cabeçalho */
header img {
    align-items: center;
    left: 30px;
    width: 120px;
    height: 100px;
}

/* Menu de naveção do cabeçalho */
#container-navegation {
    font-size: 18px;
}

/* Conteúdo principal */
#container-movie {
    margin-top: 420px;
}

/* Sessão sobre o personagem */
/* Título da sessão sobre personagem */
#box-jason #box-titlesection {
    top: 20px;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason {
    width: 450px;
    height: 550px;
    margin-top: 250px;
}

/* Título do box sobre o Jason */
#box-jason #box-descriptionjason #box-paragraphjason {
    font-size: 50px;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason p {
    font-size: 28px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    top: -415px;
    left: 240px;
    width: 540px;
    height: 700px;
}

/* Sessão de filmes do Jason */
/* Container sobre os filmes */
#box-movie #container-movies {
    width: 800px;
    height: 900px;
}

/* Titulo do filme */
#container-movies #box-titlemovie {
    margin-bottom: 20px;
}

/* Imagem principal do filme */
#container-movies #figure-movie{
    width: 350px;
    height: 600px;
}

/* Box da descrição sobre o filme  */
#container-movies #box-paragraphmovie {
    top: -80px;
    left: 0px;
    width: 400px;
    height: 420px;
}

/* paragrafo da descrição do filme */
#container-movies #box-paragraphmovie p {
    font-size: 20px;
}

/* container das imagens do filme */
#container-movies #box-movie2 {
    margin: -50px 0 0 390px;
    width: 400px;
    height: 260px;
}

/* configuração das imagens */
#container-movies #box-movie2 img {
    width: 190px;
    height: 120px;
}
}

/* Telas de 768´x */
@media screen and (max-width: 768px) {
/* Background do conteúdo principal */
main {
    background-image: url(../imagens/BACKGROUND-MAIN-SECUNDARIO.jpg);
}

/* Logo no cabeçalho */
header img {
    width: 110px;
    height: 90px;
}

/* Menu de naveção do cabeçalho */
#container-navegation {
    font-size: 16px;
}

/* Link de navegação transição */
#container-navegation a:hover {
    background-color: red;
}

/* Conteúdo principal */
#container-movie {
    margin-top: 400px;
}

/* Sessão sobre o personagem */
/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason {
    width: 450px;
    height: 500px;
    margin-top: 300px;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason p {
    font-size: 25px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    top: -325px;
    left: 262px;
    width: 450px;
    height: 600px;
}

/* Sessão de filmes do Jason */
/* configuração das imagens */
#container-movies #box-movie2 img {
    width: 185px;
}

/* Sessão de filmes do Jason */
/* Container sobre os filmes */
#box-movie #container-movies {
    width: 740px;
    height: 900px;
}

/* Titulo do filme */
#container-movies #box-titlemovie {
    margin-bottom: 20px;
}

/* Imagem principal do filme */
#container-movies #figure-movie{
    width: 350px;
    height: 600px;
}

/* Box da descrição sobre o filme  */
#container-movies #box-paragraphmovie {
    top: -80px;
    left: 0px;
    width: 360px;
    height: 445px;
}

/* paragrafo da descrição do filme */
#container-movies #box-paragraphmovie p {
    font-size: 20px;
}

/* container das imagens do filme */
#container-movies #box-movie2 {
    margin: -50px 0 0 390px;
    width: 345px;
    height: 260px;
}

/* configuração das imagens */
#container-movies #box-movie2 img {
    width: 165px;
    height: 120px;
}
}

/* Telas dde 428px */
@media screen and (max-width: 428px) {
/* Background do conteúdo principal */
main {
    background-image: url(../imagens/BACKGROUND-MAIN-SECUNDARIO.jpg);
    background-attachment: fixed;
}

/* Cabeçalho de navegação do menu principal */
header {
    height: 120px;
    flex-wrap: wrap;
}

/* Logo no cabeçalho */
header img {
    left: 0px;
    margin: 0 auto;
    top: 0px;
    width: 80px;
    height: 80px;
}

/* Menu de naveção do cabeçalho */
#container-navegation {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    gap: 0px 0px;
    margin-right: 0px;
    margin-top: -15px;
}

/* Links da navegação do header */
#container-navegation a {
    padding: 5px 10px;
}

/* Conteúdo principal */
#container-movie {
    margin-top: 320px;
    margin-left: 20px;
    width: 400px;
    height: 300px;
}

/* Containe do título do filme */
#container-movie h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

/* Container da descrição do filme */
#container-movie #box-description {
    font-size: 16px;
}

/* container do genero do filme */
#box-aboutmovie {
    font-size: 32px;
    margin-top: 15px;
}

/* Container dos botões trailer e assistir */
#box-watchmovie {
    justify-content: space-around;
    width: 395px;
    height: 90px;
}

#box-watchmovie a {
    font-size: 18px;
}

/* Botão de assisti */
#box-watchmovie #btn-movie {
    width: 150px;
    height: 45px;
    padding: 10px;
}

/* Botão do trailer */
#box-watchmovie #btn-trailer {
    width: 150px;
    height: 45px;
    padding: 10px;
}

/* Sessão sobre o personagem */
/* Título da sessão sobre personagem */
#box-jason #box-titlesection {
    left: 20px;
    font-size: 30px;
    width: 400px;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason {
    width: 350px;
    height: 400px;
    margin-top: 250px;
    margin-left: 20px;
    padding: 15px;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason p {
    font-size: 20px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    position: relative;
    top: -45px;
    left: 69px;
    width: 320px;
    height: 450px;
}

/* Sessão de filmes do Jason */
/* Container sobre os filmes */
#box-movie #container-movies {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 1000px;
    top: 50px;
}

/* Titulo do filme */
#container-movies #box-titlemovie {
    letter-spacing: 0px;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Imagem principal do filme */
#container-movies #figure-movie{
    width: 260px;
    height: 300px;
}

/* Box da descrição sobre o filme  */
#container-movies #box-paragraphmovie {
    top: 10px;
    left: 5px;
    width: 360px;
    height: 360px;
    padding: 10px 15px;
}

/* paragrafo da descrição do filme */
#container-movies #box-paragraphmovie p {
    font-size: 18px;
}

/* Titulos do box das imagens do filme */
#container-movies #box-paragraphmovie h2 {
    margin-top: 10px;
    width: 20%;
    font-size: 30px;
}

/* Contaimer das imagens do filme */
#container-movies #box-movie2 {
    margin: 80px 0 0 20px;
    width: 365px;
    height: 215px;
}

#container-movies #box-movie2 img {
    width: 160px;
    height: 102px;
}

/* Rodape do site */
#box-footer {
    height: 150px;
}

#box-footer #box-footer-itens h3 {
    margin-top: 20px;
    font-size: 30px;
}

#box-footer #box-footer-itens #box-social {
    margin-top: 20px;
}
}

/* Telas de  414px*/
@media screen and (max-width: 414px) {
/* Background do conteúdo principal */
main {
    background-image: url(../imagens/BACKGROUND-MAIN-SECUNDARIO.jpg);
    background-position-x: -450px;
}

/* Conteúdo principal */
#container-movie {
    margin-top: 300px;
    width: 380px;
}

/* Containe do título do filme */
#container-movie h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

/* Container da descrição do filme */
#container-movie #box-description {
    font-size: 16px;
}

/* container do genero do filme */
#box-aboutmovie {
    font-size: 28px;
    margin-top: 15px;
}

/* Container dos botões trailer e assistir */
#box-watchmovie {
    width: 380px;
}

#box-watchmovie a {
    font-size: 18px;
}

/* Botão de assisti */
#box-watchmovie #btn-movie {
    width: 150px;
    height: 45px;
    padding: 10px;
}

/* Botão do trailer */
#box-watchmovie #btn-trailer {
    width: 150px;
    height: 45px;
    padding: 10px;
}

/* Sessão sobre o personagem */
/* Título da sessão sobre personagem */
#box-jason #box-titlesection {
    font-size: 28px;
    width: 380px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    left: 60px;
    top: -42px;
}

/* Rodape do site */
#box-footer #box-footer-itens h3 {
    font-size: 25px;
}
}

/* Telas de 400 */
@media screen and (max-width: 400px) {
/* Cabeçalho de navegação do menu principal */
header {
    height: 80px;
}

/* Logo no cabeçalho */
header img {
    width: 60px;
    height: 60px;
}

/* Links da navegação do header */
#container-navegation a {
    font-size: 14px;
    padding: 5px 10px;
}

/* Conteúdo principal */
#container-movie {
    margin-top: 300px;
    width: 360px;
}

/* Containe do título do filme */
#container-movie h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

/* Container da descrição do filme */
#container-movie #box-description {
    font-size: 16px;
}

/* container do genero do filme */
#box-aboutmovie {
    font-size: 25px;
}

/* Container dos botões trailer e assistir */
#box-watchmovie {
    width: 360px;
    height: 80px;
}

/* Sessão sobre o personagem */
/* Título da sessão sobre personagem */
#box-jason #box-titlesection {
    font-size: 25px;
    width: 360px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    left: 20px;
    top: -10px;
}

/* Sessão de filmes do Jason */
/* Container sobre os filmes */
#box-movie #container-movies {
    width: 360px;
    height: 1000px;
}

/* Titulo do filme */
#container-movies #box-titlemovie {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Imagem principal do filme */
#container-movies #figure-movie{
    width: 260px;
    height: 300px;
}

/* Box da descrição sobre o filme  */
#container-movies #box-paragraphmovie {
    width: 340px;
    height: 360px;
    padding: 5px 10px;
}

/* Titulos do box das imagens do filme */
#container-movies #box-paragraphmovie h2 {
    font-size: 25px;
}

/* Contaimer das imagens do filme */
#container-movies #box-movie2 {
    width: 335px;
}

/* Rodape do site */
#box-footer #box-footer-itens h3 {
    font-size: 25px;
}
}

/* Telas de 375px */
@media screen and (max-width: 375px) {
/* Conteúdo principal */
#container-movie {
    width: 340px;
}

/* Container dos botões trailer e assistir */
#box-watchmovie {
    width: 340px;
}

/* Sessão sobre o personagem */
/* Título da sessão sobre personagem */
#box-jason #box-titlesection {
    font-size: 25px;
    width: 340px;
}
}

/* Telas de 360px */
@media screen and (max-width:360px) {
/* Cabeçalho de navegação do menu principal */
header {
    height: 80px;
}

/* Logo no cabeçalho */
header img {
    display: none;
}

/* Links da navegação do header */
#container-navegation a {
    padding: 5px;
}

/* Conteúdo principal */
#container-movie {
    margin-top: 300px;
    width: 315px;
}

/* Containe do título do filme */
#container-movie h1 {
    font-size: 25px;
}

/* Container da descrição do filme */
#container-movie #box-description {
    font-size: 16px;
}

/* container do genero do filme */
#box-aboutmovie {
    font-size: 22px;
}

/* Container dos botões trailer e assistir */
#box-watchmovie {
    width: 315px;
    height: 60px;
    justify-content: space-between;
    margin-top: 10px;
}

/* Sessão sobre o personagem */
/* Título da sessão sobre personagem */
#box-jason #box-titlesection {
    font-size: 25px;
    width: 335px;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason {
    width: 320px;
    height: 400px;
    margin-top: 250px;
    margin-left: 20px;
    padding: 15px;
}

#box-jason #box-descriptionjason p {
    font-size: 18px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    left: -0px;
    top: -10px;
}

/* Sessão de filmes do Jason */
/* Container sobre os filmes */
#box-movie #container-movies {
    width: 320px;
    height: 1000px;
}

/* Titulo do filme */
#container-movies #box-titlemovie {
    font-size: 25px;
    margin-bottom: 10px;
}

/* Imagem principal do filme */
#container-movies #figure-movie{
    width: 260px;
    height: 300px;
}

/* Box da descrição sobre o filme  */
#container-movies #box-paragraphmovie {
    width: 300px;
    height: 360px;
    padding: 5px 10px;
}

/* paragrafo da descrição do filme */
#container-movies #box-paragraphmovie p {
    font-size: 16px;
}

/* Titulos do box das imagens do filme */
#container-movies #box-paragraphmovie h2 {
    font-size: 20px;
}

/* Contaimer das imagens do filme */
#container-movies #box-movie2 {
    width: 300px;
    margin: 40px 0 0 10px;
}

#container-movies #box-movie2 img {
    width: 140px;
    height: 100px;
}

/* Rodape do site */
#box-footer #box-footer-itens h3 {
    font-size: 22px;
}
}

/* Telas de 320px */
@media screen and (max-width: 320px) {
main {
    background-position-x: -50px;
    height: 1080px;
    width: 100%;
}
/* Cabeçalho de navegação do menu principal */
header {
    height: 60px;
}

/* Logo no cabeçalho */
header img {
    display: none;
}

/* Links da navegação do header */
#container-navegation a {
    font-size: 12px;
    padding: 5px;
}

/* Conteúdo principal */
#container-movie {
    margin-top: 300px;
    width: 290px;
    height: 310px;
}

/* Containe do título do filme */
#container-movie h1 {
    font-size: 25px;
}

/* Container da descrição do filme */
#container-movie #box-description {
    font-size: 16px;
}

/* container do genero do filme */
#box-aboutmovie {
    font-size: 23px;
}

/* Container dos botões trailer e assistir */
#box-watchmovie {
    width: 290px;
    height: 40px;
}

/* Botão de assisti */
#box-watchmovie #btn-movie {
    width: 120px;
    height: 40px;
}

/* Botão do trailer */
#box-watchmovie #btn-trailer {
    width: 120px;
    height: 40px;
}

/* Sessão sobre o personagem */
/* Título da sessão sobre personagem */
#box-jason #box-titlesection {
    font-size: 22px;
    width: 295px;
}

/* Box de descrição sobre o Jason */
#box-jason #box-descriptionjason {
    width: 280px;
    padding: 10px;
}

/* box da imagem do Jason  */
#box-jason #box-descriptionjason #box-figurejason {
    width: 275px;
    height: 450px;
    left: 10px;
    top: -25px;
}

/* Sessão de filmes do Jason */
/* Container sobre os filmes */
#box-movie #container-movies {
    width: 300px;
    height: 1000px;
}

/* Titulo do filme */
#container-movies #box-titlemovie {
    font-size: 22px;
    margin-bottom: 15px;
}

/* Box da descrição sobre o filme  */
#container-movies #box-paragraphmovie {
    width: 280px;
    height: 360px;
    padding: 5px;
    margin-left: 10px;
}

/* Titulos do box das imagens do filme */
#container-movies #box-paragraphmovie h2 {
    font-size: 20px;
    margin-top: 15px;
}

/* Contaimer das imagens do filme */
#container-movies #box-movie2 {
    width: 280px;
    height: 212px;
    margin: 50px 0 0 16px;
}

#container-movies #box-movie2 img {
    width: 135px;
    height: 102px;
}

/* Rodape do site */
#box-footer #box-footer-itens h3 {
    font-size: 20px;
}
}
